.textfield-container {
    margin: 5px;
    font-size: 10px;
    color: #552c3b;
    .textfield {
        width: 90%;
        border-radius: 2px;
        border: 0px;
        outline: none;
        font-size: 10.5px;
        padding: 5px;
        font-family: 'Nunito';
        color: #552c3b;
        margin-top: 2px;
    }
}