.header-container {
    height: 8vh;
    background-color:#552c3b;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .app-title {
        font-size: 18px;
        color: #E8B4BC;
        margin-left: 1vw;
        font-weight: 600;
    }
    .save-button {
        justify-self:end;
        margin-right: 17vw;
        background-color: white;
        border: 0px;
        border-radius: 3px;
        padding: 3px;
        font-size: 10px;
        font-family: 'Nunito';
        padding-left: 8px;
        padding-right: 8px;
        cursor: pointer;
    }
}