.header-container {
    height: 8vh;
    background-color:#552c3b;
    display: flex;
    align-items: center;
    .app-title {
        font-size:xx-large;
        color: #E8B4BC;
        margin-left: 1vw;
        font-weight: 600;
    }
}